@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header Contact Section  */
.contact {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: white;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact ul li{
    color: white;
}
.list {
    display: flex;
    gap: 20px;
}









/* Navigation Bar Section  */

.navbar {
    width: 100%;
    height: 150px;
    background-color: #CCDEF1;
    color: #000;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 40%;
}
.navbar .logo img{
    width: 70%;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu li a {
    color: #000;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #004389;
    font-weight: bold;
}

.menu li .active {
    color: #004389;
    font-weight: bold;
}










/* About Page - Home Section */

.about-home {
    width: 100%;
    height: 30vh;
    background-image: url("img/about\ us\ background.png");
    background-size: cover;
    color: #000;
    padding: 150px clamp(10px, 7vw, 120px) 150px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.about-home-container h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #004389;
    text-align: center;
}










/* About Page - Director Section  */

.about-director {
    width: 100%;
    height: auto;
    /* background-color: #CCDEF1; */
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.about-director h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
    /* letter-spacing: 0.2em; */
    color: #000;
    text-align: center;
    padding: 0px 100px;
}

.about-director-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;



    border: 5px solid coral;
}

.about-director-data {
    width: 45%;
    position: relative;

    /* border: 5px solid coral; */
}

.about-director .about-director-img {

    /* border: 2px solid black; */
}

.about-director img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.about-director .director-name {
    width: 305px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;

    border: 1px solid #333;
}

.about-director .d1 {
    position: absolute;
    bottom: 0px;
    top: 380px;
    right: 0px;

}

.about-director .d2 {
    position: absolute;
    bottom: 0px;
    top: 380px;
    left: 0px;

}

.director-name h2 {
    color: #111;
    padding: 10px 20px 0px 20px;
    line-height: 1.2;
    text-align: left;
}

.director-name h3 {
    text-align: center;
    color: #111;
    font-weight: 500;
}










/* About Page - Our Story Section */

.our-story {
    width: 100%;
    height: auto;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.our-story-heading {
    border: 5px solid coral;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story-heading h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #004389;
    line-height: 1;
}

.our-story-heading img {
    width: 150px;
}

.our-story-container {
    border: 5px solid coral;
}

.our-story-container p {
    padding: 0px 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.02em;

    color: #303030;
}









/* About Page - Mission Vision Section */

.about-mission {
    width: 100%;
    height: auto;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.about-mission-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;

    border: 5px solid coral;
}

.mission-content {
    width: 48%;
    height: 420px;
    padding: 15px 10px;
    border: 1px solid #888;
}

.mission-content h1 {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.mission-content p {
    text-align: justify;

}










/* How we do it section */

.how-we-do-it {
    width: 100%;
    height: auto;
    /* padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px); */

    border: 10px solid darkred;
}
.how-we-do-it-heading {
    border: 5px solid coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.how-we-do-it-heading h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #004389;
    line-height: 1;
    
}

.how-we-do-it-heading img {
    width: 150px;
}

.how-we-do-it-container img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;

    border: 5px solid coral;
}










/* About Page - Why us Section  */

.why-us {
    width: 100%;
    height: auto;
    padding: 100px 0px;

    border: 10px solid darkred;
}

.why-us-heading {
    border: 5px solid coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.why-us-heading h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #004389;
    line-height: 1;
}

.why-us-heading img {
    width: 150px;
}

.why-us-container {
    width: 100%;
    padding: 60px clamp(10px, 7vw, 120px) 60px clamp(10px, 7vw, 120px);

    background: #E4EDF5;
    border: 5px solid coral;
}

.why-us-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 0px 100px;
}










/* About Page - Value for product Section */

.about-value {
    width: 100%;
    height: auto;
    background-image: url("img/background.jpg");
    background-size: cover;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.about-value-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    /* border: 5px solid coral; */
}

.about-value-content {
    width: 350px;
    padding: 20px 25px;
    margin: 25px auto;
    border-bottom: 6px solid #000;
    border-radius: 10px;
    position: relative;

    border: 2px solid #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.about-value-content .border {
    width: 160px;
    height: 336px;
    position: absolute;
    /* z-index: -10; */
    /* right: 4px; */
    bottom: -8px;
    left: 194px;
    border-right: 6px solid #004389;
    border-bottom: 6px solid #004389;
    border-radius: 15px 18px 15px 5px;
}

.about-value-content h3 {
    color: #004389;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
}

.about-value-content p {
    height: 240px;
    font-size: 14px;
    /* font-weight: 600; */
    text-align: justify;
}











/* Product Contact US Section */

.product-contact-us {
    width: 100%;
    height: auto;
    background-color: #F6F7F9;
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.product-contact-us-heading {
    border: 5px solid coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.product-contact-us-heading h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #004389;
    line-height: 1;
}

.product-contact-us-heading img {
    width: 150px;
}

.product-contact-us-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 10px solid lightcoral;
}

.product-contact-us-content img {
    width: 100px;
}

.product-contact-us-content {
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin: 8px;


    border: 2px solid royalblue;
}

.product-contact-us-content h3 {
    padding: 12px 0px;
    font-weight: 500;
}

.product-contact-us-content p {
    text-align: center;
    font-size: 14px;
}










/* Inquiry Form */

.inquiry-form {
    width: 100%;
    height: auto;
    background-color: #F6F7F9;
    color: #000;
    padding: 50px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.inquiry-form h2 {
    text-align: center;
    color: #004389;
    padding-bottom: 50px;
}

.inquiry-form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border: 5px solid coral;
}

.inquiry-form-left {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inquiry-form-left input {
    width: 98%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 12px 10px;
    border: 1px solid #999;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.inquiry-form-right {
    width: 48%;

}

.inquiry-form-right textarea {
    width: 98%;
    height: 90%;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 5px;
    margin: 12px 10px;
    border: 1px solid #999;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.inquiry-submit-btn {
    margin: 30px auto;
    width: 160px;
    /* border: 5px solid; */
}

.inquiry-submit-btn input {
    font-size: 18px;
    padding: 18px 55px;
    color: white;
    background-color: #004389;
    border-radius: 5px;
    outline: none;
    border: none;
}









/* Google Map Section */

.google-map {
    width: 100%;
    height: 80vh;
    background-color: #CCDEF1;
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    border: 10px solid darkred;
}

.google-map-container {
    width: 100%;
    height: 100%;

    border: 5px solid darkred;
}


























.container {
    display: flex;
}

.box {
    background-image: linear-gradient(purple, purple),
        linear-gradient(purple, purple),
        linear-gradient(purple, purple),
        linear-gradient(purple, purple),
        linear-gradient(steelblue, steelblue);
    background-repeat: no-repeat;
    background-size: 4px 50%, 50% 4px, 4px 50%, 50% 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;

    height: 160px;
    width: 160px;
    margin: 20px;
}

.gradient-border {}

























































/* Starting of Footer Section  */

.footer {
    padding: 60px 50px;
    background: url(img/bottom\ nav\ background.png);
    background-size: cover;
}


.footer-container {
    max-width: 1170px;
    /* background-color: #000; */
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}
.footer-column img{
    width: 90%;
}
.footer-column p {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: #303030;
}

.footer-contact-column {
    /* width: 32%; */
    padding: 0 15px;
}

.footer-column,
.footer-contact-column,
.footer-heading {
    font-size: 14px;
    color: #303030;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.footer .footer-heading {
    font-size: 20px;
}

/* .foote-column,
.footer-contact-column ul li:not(:last-child) {
    margin-bottom: 10px;
} */

.footer-column,
.footer-contact-column ul,
li,
a {
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 400;
    color: #303030;
    display: block;
    transition: all 0.3s ease;
}

.footer i {
    width: 40px;
    height: 30px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background-color: #004389;
    color: white;
    padding: 6px 10px;
    font-size: 25px;
    margin-right: 10px;
}

.footer-column,
.footer-contact-column,
ul,
li,
a:hover {
    color: #303030;
    font-weight: 500;
}


.footer-social-media ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-social-media h3 a {
    font-size: 20px;
    margin: 0px 20px;
}

@media(max-width: 767px) {

    .footer-column,
    .footer-contact-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer input[type=text] {
        width: 70%;
    }

    .footer input[type=submit] {
        width: 30%;
    }
}

@media(max-width: 574px) {

    .footer-column,
    .footer-contact-column {
        width: 80%;
        margin-bottom: 30px;
    }
}


/* Ending of Footer Section  */








/* Copyright Section */

.copyright {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: #000;
    padding: 25px clamp(10px, 7vw, 120px) 10px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.copyright h2 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}