@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Header Contact Section  */
.contact {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: white;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact ul li {
    color: white;
}

.list {
    display: flex;
    gap: 20px;
}

.contact .list li i {
    font-size: 24px;
}

/* Navigation Bar Section  */

.navbar {
    width: 100%;
    height: 150px;
    background-color: #ccdef1;
    color: #000;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 30%;
}

.navbar .logo img {
    width: 95%;
}

.menu {
    display: flex;
    gap: 25px;
    position: relative;
}

.menu li a {
    color: #000;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #004389;
    font-weight: bold;
}

.menu li .active {
    color: #004389;
    font-weight: bold;
}

.navbar input {
    color: black;
}

.navbar #search {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 20px;
    outline: none;
    /* position: relative; */
}

.navbar .search-icon {
    position: absolute;
    right: 85px;
    top: 2px;
    /* left: 20px; */
    font-size: 20px;
}

.sign-in {
    padding-top: 12px;
    font-size: 15px;
}

.sign-in-icon {
    padding: 0px 0px 10px 10px;
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 30px;
}

#check {
    display: none;
}

label {
    font-size: 30px;
    display: none;
}

/* Ending Of Navigation Bar */















/* About Page - Home Section */

.about-home {
    width: 100%;
    height: 30vh;
    background-image: url("img/about\ us\ background.png");
    background-size: cover;
    background-position: center;
    color: #000;
    padding: 150px clamp(10px, 7vw, 120px) 150px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.about-home-container h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #004389;
    text-align: center;
}















/* Sign in section */




.faqs{
    width: 100%;
    height: auto;
    background-color: #f6f7f9;
    padding: 50px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);
    /* position: relative; */

    /* border: 10px solid darkred; */
}

.faqs-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    /* border-left: 3px solid royalblue; */
}
.faqs-questions{
    margin: 20px 5px;
}
.faqs-questions p .q, .a{
    font-size: 36px;
    font-weight: 600;
    padding: 0px 6px;
    line-height: 1.4;
}
.faqs-questions .para-q{
    color: #004389;
    font-weight: 600;
    border-left: 3px solid #004389;
    /* line-height: 1.2; */

}
.faqs-questions .para-a{
    width: clamp(390px, 5vs, 850px);
    color: #858585;
    font-weight: 400;
    border-left: 3px solid #858585;
}
.faqs-questions p .a{
    color: #858585;
}

.para-q{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* line-height: 1.2; */
}
.para-a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* line-height: 1.3; */
    /* padding: 10px 0px; */
}
.q-line{
    line-height: 0;
    color: #004389;
    font-weight: 600;
}








/* Ending of Sign in section */


















































/* Google Map Section */

.google-map {
    width: 100%;
    height: 80vh;
    background-color: #ccdef1;
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.google-map-container {
    width: 100%;
    height: 100%;

    border: 5px solid darkred;
}
























/* Small Laptops */

@media screen and (max-width: 1000px) {
    .contact {
        display: none;
    }

    label {
        display: block;
    }

    .navbar {
        height: 100px;
    }
    .search-icon{
        display: none;
    }
    #search{
        display: none;
    }

    .navbar .logo {
        width: 35%;
    }
    .navbar .logo img{
        width: 120%;
    }

    .navbar .menu {
        display: block;
        position: fixed;
        top: 100px;
        right: -100%;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        /* border-radius: 0%; */
        text-align: center;
        /* padding: 20px ; */
        /* transform: translate(100px); */
        transition: all 0.5s ease-in-out;
    }

    .navbar li {
        padding: 10px 0px;
    }

    #check:checked~.menu {
        /* left: 0px; */
        right: 0px;
        /* top: 80px; */
        border-radius: 0%;
    }
    .sign-in-container{
        flex-direction: column;
    }
    .login-container{
        width: 100%;
    }
    .registration-container{
        width: 100%;
    }
}

/* Starting of Footer Section  */

.footer {
    padding: 60px 50px;
    background: url(img/bottom\ nav\ background.png);
    background-size: cover;
}

.footer-container {
    max-width: 1170px;
    /* background-color: #000; */
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column img {
    width: 90%;
}

.footer-column p {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: #303030;
}

.footer-contact-column {
    /* width: 32%; */
    padding: 0 15px;
}

.footer-column,
.footer-contact-column,
.footer-heading {
    font-size: 14px;
    color: #303030;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.footer .footer-heading {
    font-size: 20px;
}

/* .foote-column,
.footer-contact-column ul li:not(:last-child) {
    margin-bottom: 10px;
} */

.footer-column,
.footer-contact-column ul,
li,
a {
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 400;
    color: #303030;
    display: block;
    transition: all 0.3s ease;
}

.footer i {
    width: 40px;
    height: 30px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background-color: #004389;
    color: white;
    padding: 6px 10px;
    font-size: 18px;
    margin-right: 10px;
    /* margin: 20px; */
}

/* .footer-social-media ul li{
    margin: 20px;
} */

.footer-column,
.footer-contact-column,
ul,
li,
a:hover {
    color: #303030;
    font-weight: 500;
}

.footer-social-media ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-social-media h3 a {
    font-size: 20px;
    margin: 0px 20px;
}

@media (max-width: 767px) {

    .footer-column,
    .footer-contact-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer input[type="text"] {
        width: 70%;
    }

    .footer input[type="submit"] {
        width: 30%;
    }
}

@media (max-width: 574px) {

    .footer-column,
    .footer-contact-column {
        width: 80%;
        margin-bottom: 30px;
    }
}

/* Ending of Footer Section  */

/* Copyright Section */

.copyright {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: #000;
    padding: 25px clamp(10px, 7vw, 120px) 10px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.copyright h2 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}