@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Header Contact Section  */
.contact {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: white;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact ul li {
    color: white;
}

.list {
    display: flex;
    gap: 20px;
}

.contact .list li i {
    font-size: 24px;
}

/* Navigation Bar Section  */

.navbar {
    width: 100%;
    height: 150px;
    background-color: #ccdef1;
    color: #000;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 30%;
}

.navbar .logo img {
    width: 95%;
}

.menu {
    display: flex;
    gap: 25px;
    position: relative;
}

.menu li a {
    color: #000;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #004389;
    font-weight: bold;
}

.menu li .active {
    color: #004389;
    font-weight: bold;
}

.navbar input {
    color: black;
}

.navbar #search {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 20px;
    outline: none;
    /* position: relative; */
}

.navbar .search-icon {
    position: absolute;
    right: 85px;
    top: 2px;
    /* left: 20px; */
    font-size: 20px;
}

.sign-in {
    padding-top: 12px;
    font-size: 15px;
}

.sign-in-icon {
    padding: 0px 0px 10px 10px;
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 30px;
}

#check {
    display: none;
}

label {
    font-size: 30px;
    display: none;
}

/* Ending Of Navigation Bar */










/* Product Home Section */

.product-home{
    width: 100%;
    height: 100vh;
    background-image: url("img/product.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    padding: 250px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.product-home-container{
 
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
}

.product-home-container h1{
    font-size: 48px;
    font-weight: 700;
    padding: 25px 0px;
}
.product-home-container .enquire-now-btn{
    background-color: #004389;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
}









/* Product Text Section */

.product-text{
    width: 100%;
    height: auto;
    /* background-color: #CCDEF1; */
    color: #000;
    padding: 50px clamp(10px, 7vw, 120px) 50px clamp(10px, 7vw, 120px);
    
    /* border: 10px solid darkred; */
}
.product-text p{
    font-size: clamp(24px, 5vw, 32px);
    text-align: center;
    padding: 0px clamp(10px, 5vw, 100px);
}









/* Product Uniform Section */

.product-uniform{
    width: 100%;
    height: auto;
    /* background-color: #CCDEF1; */
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 10px clamp(10px, 7vw, 120px);
    
    /* border: 10px solid darkred; */
}

.product-uniform-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
    /* border: 10px solid coral; */
}
.product-uniform-left{
    width: 55%;
    padding: 10px 0px;

    /* border: 5px solid royalblue; */
}
.product-uniform-left h1{
    font-size: clamp(24px, 5vw, 32px);
    font-weight: 600;
    color: #004389;
    padding: 10px 0px 12px 0px;
}
.product-uniform-left p{
    font-size: 16px;
    text-align: justify;
    padding: 10px 0px 40px 0px;
}
.product-uniform-left .p-view-catelogue{
    background-color: #004389;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    width: fit-content;
}

.product-uniform-right{
    width: 40%;
    height: 67vh;

    /* background-image: url("img/healthcare\ uniform.jpg"); */
    background-size: cover;

    /* border: 5px solid royalblue; */
}
.product-uniform-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-position: ; */
}
.s1 img{
    width: 100%;
    height: 60vh;
    /* object-fit: contain; */
    object-fit: fill;
}









/* Product Uniform Section s2 */

.s2{   
    flex-direction: row-reverse;
}
.s2 img{
    object-fit: cover;
}




/* Product Uniform Section s3 */

.s3{   
    flex-direction: row;
}






/* Product Uniform Section s4 */

.s4{   
    flex-direction: row-reverse;
}
.p4{
    background-image: url("img/hotel\ uniform.jpg");
}





/* Product Uniform Section s5 */

.s5{   
    flex-direction: row;
}
.s5 img{
    background-position: center top;
    object-fit: contain;
}
.p5{
    background-image: url("img/healthcare\ uniform.jpg");
}



/* Product Uniform Section s6 */

.s6{   
    flex-direction: row-reverse;
}





/* Product Uniform Section s7 */

.s7{   
    flex-direction: row;
}





/* Product Uniform Section s8 */

.s8{   
    flex-direction: row-reverse;
}










/* Product Contact US Section */

.product-contact-us {
    width: 100%;
    height: auto;
    background-color: #f6f7f9;
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.product-contact-us-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    /* border: 5px solid coral; */
}

.product-contact-us-heading h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #004389;
    line-height: 1;
}

.product-contact-us-heading img {
    width: 150px;
}

.product-contact-us-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;

    /* border: 10px solid lightcoral; */
}

.product-contact-us-content img {
    width: 50px;
}

.product-contact-us-content {
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 8px;

    border: 1px solid #c5c5c5;
}

.product-contact-us-content h3 {
    padding: 12px 0px;
    font-weight: 500;
}

.product-contact-us-content p {
    text-align: center;
    font-size: 14px;
}

/* Inquiry Form */

.inquiry-form {
    width: 100%;
    height: auto;
    background-color: #f6f7f9;
    color: #000;
    padding: 50px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.inquiry-form h2 {
    text-align: center;
    color: #004389;
    padding-bottom: 50px;
}

.inquiry-form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* border: 5px solid coral; */
}

.inquiry-form-left {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inquiry-form-left input {
    width: 98%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 12px 10px;
    border: 1px solid #999;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.inquiry-form-right {
    width: 48%;
}

.inquiry-form-right textarea {
    width: 98%;
    height: 90%;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 5px;
    margin: 12px 10px;
    border: 1px solid #999;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.inquiry-submit-btn {
    margin: 30px auto;
    width: 160px;
    /* border: 5px solid; */
}

.inquiry-submit-btn input {
    font-size: 18px;
    padding: 18px 55px;
    color: white;
    background-color: #004389;
    border-radius: 5px;
    outline: none;
    border: none;
}

/* Google Map Section */

.google-map {
    width: 100%;
    height: 80vh;
    background-color: #ccdef1;
    color: #000;
    /* padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px); */

    /* border: 10px solid darkred; */
}

.google-map-container {
    width: 100%;
    height: 100%;

    /* border: 5px solid darkred; */
}
.google-map iframe{
    width: 100%;
    height: 100%;
}




























/* Small Laptops */

@media screen and (max-width: 1000px) {
    .contact {
        display: none;
    }

    label {
        display: block;
    }

    .navbar {
        height: 100px;
    }
    .search-icon{
        display: none;
    }
    #search{
        display: none;
    }

    .navbar .logo {
        width: 35%;
    }
    .navbar .logo img{
        width: 120%;
    }


    .navbar .menu {
        display: block;
        position: fixed;
        top: 100px;
        right: -100%;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        /* border-radius: 0%; */
        text-align: center;
        /* padding: 20px ; */
        /* transform: translate(100px); */
        transition: all 0.5s ease-in-out;
    }

    .navbar li {
        padding: 10px 0px;
    }

    #check:checked~.menu {
        /* left: 0px; */
        right: 0px;
        /* top: 80px; */
        border-radius: 0%;
    }
    .about-home {
        background-position: center right;
    }
    .corporate-uniform-inquiry-container {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .corporate-uniform-inquiry-form {
        width: 100%;
        position: static;
        bottom: 0px;
    }
    .corporate-uniform-inquiry-container .cost{
        padding: 30px 0px;
    }
    
    .accordian-container {
        width: 100%;
    }
    .corporate-uniform-para-container {
        padding: 0px clamp(10px, 5vw, 20px);
    }

    .product-contact-us-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .inquiry-form-container {
        flex-direction: column;

        /* display: block; */
    }

    .inquiry-form-left {
        width: 95%;
    }

    .inquiry-form-right {
        width: 95%;
    }
}


/* Small Laptops */

@media screen and (max-width: 767px) {

    .navbar .logo {
        width: 45%;
    } 
    .navbar .logo img {
        width: 100%;
    }


    .product-contact-us-container {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .product-uniform-container{
        flex-direction: column-reverse;
    }
    .product-uniform-left{
        width: 100%;
    }
    .product-uniform-right{
        width: 100%;
    }
}

















/* Starting of Footer Section  */

.footer {
    padding: 60px 50px;
    background: url(img/bottom\ nav\ background.png);
    background-size: cover;
}

.footer-container {
    max-width: 1170px;
    /* background-color: #000; */
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column img {
    width: 90%;
}

.footer-column p {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: #303030;
}

.footer-contact-column {
    /* width: 32%; */
    padding: 0 15px;
}

.footer-column,
.footer-contact-column,
.footer-heading {
    font-size: 14px;
    color: #303030;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.footer .footer-heading {
    font-size: 20px;
}

/* .foote-column,
.footer-contact-column ul li:not(:last-child) {
    margin-bottom: 10px;
} */

.footer-column,
.footer-contact-column ul,
li,
a {
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 400;
    color: #303030;
    display: block;
    transition: all 0.3s ease;
}

.footer i {
    width: 40px;
    height: 30px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background-color: #004389;
    color: white;
    padding: 6px 10px;
    font-size: 18px;
    margin-right: 10px;
    /* margin: 20px; */
}

/* .footer-social-media ul li{
    margin: 20px;
} */

.footer-column,
.footer-contact-column,
ul,
li,
a:hover {
    color: #303030;
    font-weight: 500;
}

.footer-social-media ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-social-media h3 a {
    font-size: 20px;
    margin: 0px 20px;
}

@media (max-width: 767px) {

    .footer-column,
    .footer-contact-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer input[type="text"] {
        width: 70%;
    }

    .footer input[type="submit"] {
        width: 30%;
    }
}

@media (max-width: 574px) {

    .footer-column,
    .footer-contact-column {
        width: 80%;
        margin-bottom: 30px;
    }
}

/* Ending of Footer Section  */

/* Copyright Section */

.copyright {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: #000;
    padding: 25px clamp(10px, 7vw, 120px) 10px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.copyright h2 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}