@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header Contact Section  */
.contact {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: white;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact ul li {
    color: white;
}

.list {
    display: flex;
    gap: 20px;
}
.contact .list li i{
    font-size: 24px;
}









/* Navigation Bar Section  */

.navbar {
    width: 100%;
    height: 150px;
    background-color: #CCDEF1;
    color: #000;
    padding: 0px clamp(10px, 7vw, 120px);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 30%;
}

.navbar .logo img {
    width: 95%;
}

.menu {
    display: flex;
    gap: 25px;
    position: relative;

}

.menu li a {
    color: #000;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #004389;
    font-weight: bold;
}

.menu li .active {
    color: #004389;
    font-weight: bold;
}

.navbar #search{
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 20px;
    outline: none;
    /* position: relative; */
}
.navbar .search-icon{
    position: absolute;
    right: 85px;
    top: 2px;
    /* left: 20px; */
    font-size: 20px;
}
.sign-in{
    padding-top: 12px;
    font-size: 15px;
}
.sign-in-icon{
    padding: 0px 0px 10px 10px;
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 30px;

}

#check{
    display: none;
}
label{
    font-size: 30px;
    display: none;
}

/* Ending Of Navigation Bar */







/* About Page - Home Section */












/* Female Size Guide Section */

.f-size-guide {
    width: 100%;
    margin: 50px auto 0px auto;
    color: #000;
    padding: clamp(10px, 7vw, 100px) clamp(10px, 7vw, 120px) clamp(10px, 7vw, 100px) clamp(10px, 7vw, 120px);
    
    /* border: 10px solid darkred; */
}

.f-size-guide-container img {
    width: 100%;
    /* height: clamp(80vh, 8vw, 130vh); */
    /* height: 120vh; */
    /* border: 10px solid coral; */
    /* background-image: url("img/female-size-guide.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}









/* Male Size Guide Section */

.m-size-guide {
    width: 100%;
    /* height: 100vh; */
    margin: 50px auto;
    color: #000;
    padding: 0px clamp(10px, 7vw, 120px) 0px clamp(10px, 7vw, 120px);
    
    /* border: 10px solid darkred; */
}

.m-size-guide-container img{
    width: 100%;
    /* height: 120vh; */
    /* border: 10px solid coral; */
    /* background-image: url("img/male-size-guide.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}









/* How to Measure Section */

.measure {
    width: 100%;
    /* height: 100vh; */
    margin: 50px auto;
    color: #000;
    padding: 0px clamp(10px, 7vw, 120px) 0px clamp(10px, 7vw, 120px);
    
    /* border: 10px solid darkred; */
}

.measure-container img{
    width: 100%;
    /* height: 120vh; */
    /* border: 10px solid coral; */
    /* background-image: url("img/how-to-measure.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}































/* Product Contact US Section */

.product-contact-us {
    width: 100%;
    height: auto;
    background-color: #F6F7F9;
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.product-contact-us-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    /* border: 5px solid coral; */
}

.product-contact-us-heading h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #004389;
    line-height: 1;
}

.product-contact-us-heading img {
    width: 150px;
}

.product-contact-us-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */

    /* border: 10px solid lightcoral; */
}

.product-contact-us-content img {
    width: 50px;
}

.product-contact-us-content {
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin: 18px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #999;
}

.product-contact-us-content h3 {
    padding: 12px 0px;
    font-weight: 500;
}

.product-contact-us-content p {
    text-align: center;
    font-size: 14px;
}










/* Inquiry Form */

.inquiry-form {
    width: 100%;
    height: auto;
    background-color: #F6F7F9;
    color: #000;
    padding: 50px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.inquiry-form h2 {
    text-align: center;
    color: #004389;
    padding-bottom: 50px;
}

.inquiry-form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* border: 5px solid coral; */
}

.inquiry-form-left {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inquiry-form-left input {
    width: 98%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 12px 10px;
    border: 1px solid #999;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.inquiry-form-right {
    width: 48%;

}

.inquiry-form-right textarea {
    width: 98%;
    height: 90%;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 5px;
    margin: 12px 10px;
    border: 1px solid #999;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.inquiry-submit-btn {
    margin: 30px auto;
    width: 160px;
    /* border: 5px solid; */
}

.inquiry-submit-btn input {
    font-size: 18px;
    padding: 18px 55px;
    color: white;
    background-color: #004389;
    border-radius: 5px;
    outline: none;
    border: none;
}









/* Google Map Section */

.google-map {
    width: 100%;
    height: 80vh;
    background-color: #CCDEF1;
    color: #000;
    padding: 100px clamp(10px, 7vw, 120px) 100px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.google-map-container {
    width: 100%;
    height: 100%;

    border: 5px solid darkred;
}




































/* Small Laptops */

@media  screen and (max-width: 1000px) {
    .contact{
        display: none;
    }

    label {
        display: block;
    }
    .navbar{
        height: 100px;
    }
    .navbar .logo{
        width: 35%;
    }
    .navbar .menu {
        display: block;
        position: fixed;
        top: 100px;
        right: -100%;
        background-color: #333;
        width: 100%;
        height: 100vh;
        /* border-radius: 0%; */
        text-align: center;
        /* padding: 20px ; */
        /* transform: translate(100px); */
        transition: all .5s ease-in-out;
    }

    .navbar li {
        padding: 10px 0px;
    }

    #check:checked~.menu {
        /* left: 0px; */
        right: 0px;
        /* top: 80px; */
        border-radius: 0%;
    }

    .f-size-guide{
        /* padding: 50px clamp(10px, 7vw, 120px) 50px clamp(10px, 7vw, 120px); */
        /* height: 100vh; */
    }
    .f-size-guide-container{
        background-position: top;
    }
    .m-size-guide{
        /* padding: 50px clamp(10px, 7vw, 120px) 50px clamp(10px, 7vw, 120px); */
        /* height: 100vh; */
    }
    .m-size-guide-container{
        background-position: top;
    }
    .measure{
        /* padding: 50px clamp(10px, 7vw, 120px) 50px clamp(10px, 7vw, 120px); */
        /* height: 100vh; */
    }
    .measure-container{
        background-position: top;
    }
    .product-contact-us-container{
        flex-direction: column;
    }
    .inquiry-form-container{
        flex-direction: column;
        /* display: block; */
    }
    .inquiry-form-left{
        width: 95%;
    }
    .inquiry-form-right{
        width: 95%;
    }
}


























/* Starting of Footer Section  */

.footer {
    padding: 60px 50px;
    background: url(img/bottom\ nav\ background.png);
    background-size: cover;
}


.footer-container {
    max-width: 1170px;
    /* background-color: #000; */
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column img {
    width: 90%;
}

.footer-column p {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: #303030;
}

.footer-contact-column {
    /* width: 32%; */
    padding: 0 15px;
}

.footer-column,
.footer-contact-column,
.footer-heading {
    font-size: 14px;
    color: #303030;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.footer .footer-heading {
    font-size: 20px;
}

/* .foote-column,
.footer-contact-column ul li:not(:last-child) {
    margin-bottom: 10px;
} */

.footer-column,
.footer-contact-column ul,
li,
a {
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 400;
    color: #303030;
    display: block;
    transition: all 0.3s ease;
}

.footer i {
    width: 40px;
    height: 30px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background-color: #004389;
    color: white;
    padding: 6px 10px;
    font-size: 18px;
    margin-right: 10px;
    /* margin: 20px; */
}
/* .footer-social-media ul li{
    margin: 20px;
} */

.footer-column,
.footer-contact-column,
ul,
li,
a:hover {
    color: #303030;
    font-weight: 500;
}


.footer-social-media ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-social-media h3 a {
    font-size: 20px;
    margin: 0px 20px;
}

@media(max-width: 767px) {

    .footer-column,
    .footer-contact-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer input[type=text] {
        width: 70%;
    }

    .footer input[type=submit] {
        width: 30%;
    }
}

@media(max-width: 574px) {

    .footer-column,
    .footer-contact-column {
        width: 80%;
        margin-bottom: 30px;
    }
}


/* Ending of Footer Section  */








/* Copyright Section */

.copyright {
    width: 100%;
    height: 64px;
    background-color: #004389;
    color: #000;
    padding: 25px clamp(10px, 7vw, 120px) 10px clamp(10px, 7vw, 120px);

    /* border: 10px solid darkred; */
}

.copyright h2 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}